body {
    background-color: #253031;
    font-family: 'Lato', sans-serif;
    margin: auto;
}

.topbar {
    background-color: rgba(78, 166, 153, 0.4);
    height: 60px;
    z-index: 1;
    position: fixed;
    width: 100%;

}
 
header a:link {
    text-decoration: none;
    color: #f9f9f9;
    z-index: 9999;
    
}

header {
    display: flex;
    justify-content: space-between;
   padding: 0px 10px;
   height: 100%;
   align-items: center;
}

nav {
    z-index: 9999;
}

nav a:link {
    opacity: 50%;
}

nav a:hover {
    opacity: 100%;
}

nav a:active {
    opacity: 100%;
    font-weight: bold;
}

nav a:visited {
    color: #f9f9f9;
}



#heroimage {
    width: 100%; 
    filter: grayscale(100%) blur(4px);
    position: absolute;
    z-index: -1;
    max-height: 900px;
    mix-blend-mode: luminosity;
    margin: auto;
}

#herobcg {
    width: 100%; 
    position: absolute;
    z-index: -1;
    max-height: 900px;
    filter: blur(4px);
}



.centered {
    margin: auto;
    
}

#big {
    color: #f9f9f9;
    font-size: 5vw;
    text-align: center;
    margin-top: 0;
    padding-top: 18%;
}

#small {
    color: #f9f9f9;
    font-size: 2vw;
    text-align: center;
}

.about {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 10px;
    grid-auto-flow: column;
    margin-bottom: 4vw;
    width: 100%;
    margin-top: 300px;
}

.bio {
    color: #f9f9f9;
    font-size: 20px;
}

#bioimg {
    height: calc(300px + 40vw);
}

button {
    background-color: #FFA859;
    border: none;
    margin-left: 45%;
    border-radius: 50px;
    color:#253031;
    font-size: 25px;
    display: inline-block;
    height: 64px;
    width: 10%;
    min-width: 120px;
}

button:hover {
    background-color: #F2892B;
}

button:active {
    background-color: #F2892B;
}

.resume {
    width: 60vw;
    margin: auto;
    display: grid;
}

.res1 {
   font-size: 40px;
   color: #4ea699; 
   margin-top: 20px;
}

.txt1 {
   font-size: 25px;
   font-weight: bold; 
   color: #4ea699;
   margin-bottom: 0px;
}

.yrs1 {
    font-size: 25px;
    font-weight: 300;
    color: #f9f9f9;
    margin: 0px;
}

.res_elements {
    display: flex;
    justify-content: space-between;
    margin-top: 100px
}

.lst1 {
   font-size: 25px;
   color: #f9f9f9; 
   max-width: 500px;
   padding-left: 20px;

}

.title {
    text-align: end;
    width: 40%;
}

.txt2 {
    font-size: 25px;
   color: #f9f9f9; 
   max-width: 500px;
   margin-top: 10px;
}

.work {
    width: 100%;
    background-color: #4ea699;
    height: 80px;
}

.left {
    text-align: start;
    width: 50%;
}

.wrktxt {
    font-size: 40px;
    color: #f9f9f9;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resume {
    margin-bottom: 100px;
}

