body {
    background-color: #253031;
    font-family: 'Lato', sans-serif;
    margin: auto;
}

.topbar {
    background-color: rgba(78, 166, 153, 0.4);
    height: 60px;
    z-index: 1;
    position: fixed;
    width: 100%;

}
 
header a:link {
    text-decoration: none;
    color: #f9f9f9;
    z-index: 9999; 
}

.logo {
  margin-left: 1vw;
  font-size: 1.2vw;
}

.logo:hover {
  font-size: 1.4vw;
}

header {
    display: flex;
    justify-content: space-between;
   padding: 0px 10px;
   height: 100%;
   align-items: center;
   
}

nav {
    z-index: 9999;
}

nav a {
  margin-right: 1vw;
  font-size: 1.2vw;
}

nav a:link {
    opacity: 50%;
}

nav a:hover {
    opacity: 100%;
    font-size: 1.4vw;
}

nav a:active {
    opacity: 100%;
    font-weight: bold;
}

nav a:visited {
    color: #f9f9f9;
}



#heroimage {
    width: 100%; 
    filter: blur(4px) brightness(75%);
    position: absolute;
    z-index: -1;
    max-height: 900px;
    margin: auto;
    mix-blend-mode: luminosity;
}

#herobcg {
    width: 100%; 
    position: absolute;
    z-index: -1;
    max-height: 900px;
    filter: blur(4px);
}



.centered {
    margin: auto;
    vertical-align: middle;
    text-align: center;
    
}

#big {
    color: #f9f9f9;
    font-size: 5vw; 
    padding-top: 20%;
    margin-top: 0;
    margin-bottom: 23vw;
}

.folio {
    width: 80%;
    
}


button {
    background-color: #FFA859;
    border: none;
    border-radius: 50px;
    color:#253031;
    font-size: calc(5px + 1vw);
    display: inline-block;
    height: 3vw;
    width: 10vw;
    min-width: 150px;
}

button:hover {
    background-color: #F2892B;
}

.prj-txt-s {
    color: #f9f9f9;
    font-size: 1.5vw;
}

.prj-txt-l {
    color: #4ea699;
    font-size: 2.5vw;
}

.txt {
    width: 20vw;
    text-align: center;
    margin-top: 7vw;
}

.project img {
    width: 40vw;
    height: auto;
}

.project img:hover {
    width: 50vw;
    height: auto;
}

.project {
    width: 100%;
}

.pic-txt {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 13vw;
}

.pic-txt2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 7vw;
}

.pic-txt3 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 13vw;
}

.folio {
    margin-bottom: 5vw;
}

.footer {
    color: #f9f9f9;
    font-size: 0.8vw;
    text-align: center; 
    height: 3.5vw;
    margin: auto;
}

.footer p {
    margin-bottom: 0px;
}

.foot-year {
    margin-top: 0px;
}

.foot-name {
    margin-top: 0;
}
